<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Timetable</h1>
    <table>
        <tr>
            <th>Time</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
        <% 
            let arr = ["8:00","9:00","10:00","11:00","12:00","12:50","1:50","2:50","3:50","4:50"];
            for (let i = 0; i < data.length; i++) { %>
            <tr>
                <td><%= arr[i] %> - <%= arr[i+1]%></td>
                <%
                    if(arr[i]==="12:00") {
                %>
                    <td colspan="6">RECESS</td>
                <%
                    } else {
                        for(let j=0; j<=5; ++j) {
                %>
                        <td><%= data[i][j] %></td>
                <%
                        }
                    }
                %>
            </tr>
        <% } %>
    </table>
</body>
</html>
